{extend name="public:iframe" /}
{block name="main"}
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__LIB__/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="row" id="page-content">
    <div class="col-sm-12">
        <div class="row panel-body">
            <form class="layui-form form-horizontal col-sm-12" action="">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题<i class="red">*</i></label>
                    <div class="col-sm-10">
                        <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">正文</label>
                    <div class="col-sm-10">
                        <script id="editor" name="detail" type="text/plain" style="width:100%;height:300px;"></script>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-6">
                        <input type="text" name="sort" lay-verify="number" placeholder="越大越靠前" value="0" autocomplete="off" class="form-control">
                    </div>
                    <div class="col-sm-4 tips">越大越靠前</div>
                </div>

                <div class="form-group ">
                    <label class="col-sm-2 control-label">是否启用</label>
                    <div class="col-sm-10">
                        <input type="checkbox" checked="" value="1"  lay-filter="status" name="status" lay-skin="switch" lay-text="ON|OFF" title="开关">
                        <input type="hidden" value="2" name="type">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-mint" lay-submit="" data-url="{:url('Content/problem_add')}" lay-filter="submit">立即提交</button>
                        <button type="reset" onclick="layer_close()" class="btn btn-warning">关闭</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var ue = UE.getEditor('editor');
</script>
{/block}