{extend name="public:base" /}
{block name="main"}

<div class="row">
    <div class="col-sm-12">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>系统信息</legend>
        </fieldset>
        <table class="layui-table" lay-even>
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>名称</th>
                <th>参数</th>
            </tr>
            </thead>
            <tbody>
            {volist name="sys_info" id="vo"}
            <tr>
                <td>{$key}</td>
                <td>{$vo}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>操作日志</legend>
        </fieldset>
        <table class="layui-table" lay-data="{height:'auto', url:'/admin/index/index/', page:true, id:'test',method: 'post'}" lay-filter="test">
            <thead>
            <tr>
                <th lay-data="{field:'action_ip', width:180}">ip</th>
                <th lay-data="{field:'remark'}">操作</th>
                <th lay-data="{field:'create_time'}">操作时间</th>
            </tr>
            </thead>
        </table>
        <table class="layui-table" lay-even>
             <colgroup>
                 <col width="150">
                 <col>
             </colgroup>
             <thead>
                 <tr>
                 <th>名称</th>
                 <th>参数</th>
                 <th width="170">操作时间</th>
                 </tr>
             </thead>
             <tbody>
                 {volist name="list" id="vo"}
                 <tr>
                     <td>{$vo.action_ip}</td>
                     <td>{$vo.remark}</td>
                     <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>
                 </tr>
                 {/volist}
             </tbody>
         </table>
    </div>
</div>

<script>
    layui.use(['form'], function(){
        var form = layui.form
        ,layer = layui.layer;
    });
</script>
{/block}