{extend name="public:base" /}
{block name="main"}
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="/static/pchome/layer/layer.js"></script>

		<div class="contact_body">
			<div class="contact_box">
				<h2>联系我们</h2>
				<p>努力打造让客户最满意的产品，提供最贴心的服务,<br />
					如对我们的产品或服务有任何疑问，请填写联系表格。请尽可能详细地填写表格，以便我们更好地为您服务。感谢您提供的意见和建议。
				</p>
				<div class="input_box">
					<form action="javascript:;" method="post">
						<ul>
							<li><span>您的姓名</span><div class="lay_input"><input class="name" type="text" maxlength="5" name="name"/></div></li>
							<li><span>联系电话</span><div class="lay_input"><input class="phone" type="text" maxlength="11" name="phone"/></div></li>
							<li><span>邮箱</span><div class="lay_input"><input class="email" type="text" maxlength="30" name="email"/></div></li>
							<li><span>留言</span><div class="lay_textarea"><textarea class="mess" maxlength="300" name="mess"></textarea></div></li>
							<li class="submit"><span></span><button type="submit" class="form1">联系我们</button></li>
						</ul>
					</form>
				</div>
			</div>
		</div>
<script type="text/javascript">
    $('.form1').on("click",function(){
        var name = $(".name").val();
        if (name==''){
            layer.msg('姓名不能为空');return false;
        }
        var tel = $(".phone").val();
        var myreg = /^1[3456789]\d{9}$/;
        if(tel==''){
            layer.msg('手机号不能为空');return false;
        }else if(!myreg.test(tel)){
            layer.msg('手机号格式不正确');return false;
        }
        var email = $(".email").val();
        var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
        if(email==''){
            layer.msg('邮箱不能为空');return false;
        }else if(!reg.test(email)){
            layer.msg('邮箱格式不正确');return false;
        }
        var mess = $(".mess").val();
        if (mess==''){
            layer.msg('留言不能为空');return false;
        }
        $.ajax({
            type:'POST',//提交方式
            url:"/contact",//需要提交的url
            dataType:'json', // 如果需要json传输接收数据就开启
            data:{tel:tel,name:name,email:email,mess:mess},//传输的数据 如果没有直接填写空 {}
            success: function(data) {
                if(data.status){
                    layer.msg(data.info,{icon: 1,time: 1000 },function(){
                        parent.location.reload();
                    });
                }else{
                    layer.msg(data.info,{icon:2});
                }
            }
        });
    });

</script>
{/block}
