{extend name="public:iframe" /}
{block name="main"}
<div class="row" id="page-content">
    <div class="col-lg-12">
        <div class="form-group">
            <button class="btn btn-sm btn-primary m-t-n-xs" onclick="layer_show('添加单品','/admin/Goods/item_add.html?gid={$gid}',800,520)"><strong>添加单品</strong></button>
            <button class="btn btn-sm btn-primary refresh"> <i class="fa fa-refresh"></i> <strong> 刷新</strong></button>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center" width="50"><input class="check-all" type="checkbox"/></th>
                <th>id</th>
                <th>属性</th>
                <th>价格</th>
                <th>库存</th>
                <th>是否上架</th>
                <th width="121">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name="list" item="vo"}
            <tr class="gradeX">
                <td class="text-center"><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"></td>
                <td>{$vo.id}</td>
                <td>
                    {volist name="$vo.attr_id" id="v"}
                         <span class="btn btn-info btn-sm">{$item[$v]}</span>
                    {/volist}
                </td>
                <td>{$vo.price/100}</td>
                <td>{$vo.stock}</td>
                <td class="layui-form"><input type="checkbox" {if condition="$vo.status eq 1"}checked=""{/if} data-db="goods_item" data-id="{$vo.id}" name="open" lay-skin="switch" lay-filter="switchStatus" lay-text="上架|下架"></td>
                <td>
                    <button class="btn btn-xs btn-default do-del" data-db="goods_item" data-id="{$vo.id}" data-status="-1" data-field="is_delete"><i class="fa fa-trash-o"></i> 删除</button>
                    <button class="btn btn-xs btn-primary" onclick="layer_show('编辑','/admin/Goods/item_edit.html?id={$vo.id}',800,520)"><i class="fa fa-edit"></i> 编辑</button>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {$page|raw}
    </div>
</div>
<script>
    $('.refresh').click(function () {
        location.reload();
    })
</script>
{/block}
