{extend name="public:base" /}
{block name="main"}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>评论列表</legend>
            </fieldset>
            <div class="row">
                <div class="form-group col-sm-3">
                    <!--<a class="btn btn-sm btn-primary" onclick="layer_show('添加问题','/admin/Content/problem_add',1000)">添加问题</a>-->
                    <!--<button class="btn btn-sm btn-primary m-t-n-xs do-del-all" data-db="activity" data-status="1"><strong>启用</strong></button>-->
                    <button class="btn btn-sm btn-primary m-t-n-xs do-del-all" data-db="order_comments" data-status="0"><strong>批量删除</strong></button>
                </div>
                <div class="search-box col-sm-9">
                    <form role="form" class="form-inline" method="get">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default j-text" type="button">
                                    {if condition="input('order_sn',0)"}
                                    订单编号
                                    {elseif condition="input('nickname',0)"/}
                                    用户昵称
                                    {else/}
                                    订单编号
                                    {/if}
                                </button>
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle dropdown-toggle-icon" type="button" aria-expanded="false">
                                    <i class="dropdown-caret"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a j-data="order_sn">订单编号</a></li>
                                    <li><a j-data="nickname">用户昵称</a></li>
                                </ul>
                            </div>
                            <input type="text" name="order_sn" placeholder="请输入订单编号" class="form-control j-data" value="{$_GET['order_sn']|default=''}{$_GET['nickname']|default=''}">
                        </div>
                        <div class="input-daterange input-group" id="laydate">
                            <input type="text" class="form-control start" value="{$_GET['begin_time']|default=''}" name="begin_time" id="laydate-start" placeholder="开始时间">
                            <span class="input-group-addon">到</span>
                            <input type="text" class="form-control" value="{$_GET['end_time']|default=''}" name="end_time" id="laydate-end" placeholder="结束时间">
                        </div>
                        <button class="btn btn-primary" type="submit">搜索</button>
                        <a class="btn btn-primary" href="{:url('Goods/order_comments')}" >清空</a>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center" width="50"><input class="check-all" type="checkbox"/></th>
                    <th>订单编号</th>
                    <th>评论者</th>
                    <th>描述</th>
                    <th>服务</th>
                    <th>发货</th>
                    <th>物流</th>
                    <th>评论时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="list" item="vo"}
                <tr class="gradeX">
                    <td class="text-center"><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"></td>
                    <td class="c-primary">{$vo.order_sn}</td>
                    <td>{$vo.nickname}</td>
                    <td>{$vo.description}</td>
                    <td>{$vo.service}</td>
                    <td>{$vo.delivery}</td>
                    <td>{$vo.express}</td>
                    <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>
                    <td>
                        <button class="btn btn-xs btn-default do-del" data-db="order_comments" data-id="{$vo.id}" data-status="0"><i class="fa fa-trash-o"></i> 删除</button>
                        <a class="btn btn-xs btn-primary" onclick="layer_show('评论详情','/admin/Goods/order_comments_detail?id={$vo.id}',1000)"><i class="fa fa-datail"></i> 详情</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            {$page|raw}
        </div>
    </div>
</div>
{/block}
