{extend name="public:base" /}
{block name="main"}
<style>
    .layui-input, .layui-textarea, .layui-select
    {
        height: 32px;line-height: 32px;ine-height: 36px\9;border: 1px solid #e6e6e6;background-color: #fff;border-radius: 2px;
    }
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>商品列表</legend>
            </fieldset>
            <div class="row">
                <div class="form-group col-sm-12">
                </div>
                <div class="search-box form-group col-sm-12">
                    <form role="form" class="form-inline layui-form" method="get">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default j-text" type="button"  style="width: 100px">
                                    商品名称
                                </button>
                            </div>
                            <input type="text" name="title" placeholder="请输入商品名称" class="form-control j-data" value="{$_GET['title']|default=''}">

                        </div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default j-text" type="button"  style="width: 100px">
                                    品牌
                                </button>
                            </div>
                            <div class="search-box form-group" style="width: 100px;" >
                                <select name="btitle">
                                    <option value="" style="height: 32px;line-height: 32px;">所有品牌</option>
                                    {volist name="brand" id="vo"}
                                    <option value="{$vo.id}" {if condition="$vo.id eq $btitle"}selected=""{/if}>{$vo.title}</option>
                                    {/volist}
                                </select>
                            </div>

                        </div>
                        <div class="input-daterange input-group" id="laydate">
                            <input type="text" class="form-control start" value="{$_GET['begin_time']|default=''}" name="begin_time" id="laydate-start" placeholder="开始时间">
                            <span class="input-group-addon">到</span>
                            <input type="text" class="form-control" value="{$_GET['end_time']|default=''}" name="end_time" id="laydate-end" placeholder="结束时间">
                        </div>
                        <button class="btn btn-primary" type="submit">搜索</button>
                        <a class="btn btn-primary" href="{:url('Goods/recycle')}" >清空</a>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center" width="50"><input class="check-all" type="checkbox"/></th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th width="90">所属分类</th>
                    <th width="155">所属类型</th>
                    <th>现价</th>
                    <th>原价</th>
                    <th>添加时间</th>
                    <th width="121">操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="list" item="vo"}
                <tr class="gradeX">
                    <td class="text-center"><input class="ids" type="checkbox" name="id[]" value="1"></td>
                    <td class="c-primary">{$vo.id}</td>
                    <td>{$vo.title|default="-"}</td>
                    <td>{$vo.gtitle}</td>
                    <td>{$vo.btitle}</td>
                    <td style="color:red">{$vo.price/100}</td>
                    <td>{$vo.original_price/100}</td>
                    <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>

                    <td>
                        <button class="btn btn-xs btn-default do-del" data-db="goods" data-id="{$vo.id}" data-status="1"><i class="fa fa-recycle"></i> 恢复</button>
                        <!--<a class="btn btn-xs btn-primary" onclick="layer_show('编辑商品','/admin/Goods/list_edit?id={$vo.id}',1000)"><i class="fa fa-edit"></i> 编辑</a>-->
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            {$list|raw}
        </div>
    </div>
</div>
{/block}
