{extend name="public:iframe" /}
{block name="main"}
<div class="row" id="page-content">
    <div class="col-sm-12">
        <div class="layui-tab">
            <div class="layui-tab-content">
                <form class="layui-form form-horizontal" action="">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">节点名称</label>
                            <div class="col-sm-9">
                                <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入节点名称" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">节点url</label>
                            <div class="col-sm-9">
                                <input type="text" name="url" lay-verify="required" autocomplete="off" placeholder="请输入节点url" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">父级节点</label>
                            <div class="col-sm-9">
                                <select name="pid" lay-filter="aihao">
                                    <option value="0" selected="">一级节点</option>
                                    {foreach name="list" item="vo"}
                                    <option value="{$vo.id}" {if condition="$vo.id eq $id"}selected=""{/if}>{$vo.html}{$vo.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">icon</label>
                            <div class="col-sm-6">
                                <input type="text" name="icon" autocomplete="off" placeholder="请输入icon" class="form-control" >
                            </div>
                            <div class="col-sm-3 tips"><a href="http://fontawesome.dashgame.com/#why" target="_blank">选择图标</a></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序</label>
                            <div class="col-sm-9">
                                <input type="text" name="sort" lay-verify="number" placeholder="越小越靠前" value="99" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否导航</label>
                            <div class="col-sm-9">
                                <input type="checkbox" value="1"  lay-filter="is_nav" name="is_nav" lay-skin="switch" lay-text="ON|OFF" title="开关">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用</label>
                            <div class="col-sm-9">
                                <input type="checkbox" checked="" value="1"  lay-filter="status" name="status" lay-skin="switch" lay-text="ON|OFF" title="开关">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-mint" lay-submit="" lay-filter="rule">提交</button>
                                <button type="reset" onclick="layer_close()" class="btn btn-warning">关闭</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form','upload'], function(){
        var form = layui.form,
                layer = layui.layer;

        //监听提交
        form.on('submit(rule)', function(data){
            data.field.status=data.field.status?1:0;
            data.field.is_nav=data.field.is_nav?1:0;
            ajax("/admin/Auth/rule_add",data.field,function(data){
                if(data.status){
                    layer.msg(data.info, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        layer_close();
                        parent.location.reload();
                    });
                }else{
                    layer.msg(data.info, {
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            })
            return false;
        });
    });
</script>
{/block}