{extend name="public:iframe" /}
{block name="main"}
<div class="row" id="page-content">
    <div class="col-sm-12">
        <div class="layui-tab">
            <div class="layui-tab-content">
                <form class="layui-form form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div>基本信息</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单编号:</label>
                            <label class="col-sm-2 control-label">{$info.order_sn}</label>

                            <label class="col-sm-2 control-label">交易时间:</label>
                            <label class="col-sm-2 control-label">{$info.create_time|date="Y-m-d H:i"}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">买家:</label>
                            <label class="col-sm-2 control-label">{$info.nickname}</label>

                            <label class="col-sm-2 control-label">收货人:</label>
                            <label class="col-sm-2 control-label">{$info.consignee}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">收货地址:</label>
                            <label class="col-sm-2 control-label">{$info.address}</label>

                            <label class="col-sm-2 control-label">收货人电话:</label>
                            <label class="col-sm-2 control-label">{$info.mobile}</label>
                        </div>

                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <div>商品信息</div>
                        {volist name="detail" id="vo"}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品名称:</label>
                                <label class="col-sm-2 control-label">{$vo.goods_name}</label>

                                <label class="col-sm-2 control-label">单价:</label>
                                <label class="col-sm-2 control-label">{$vo.goods_price/100}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">购买量:</label>
                                <label class="col-sm-2 control-label">{$vo.goods_num}</label>

                                <label class="col-sm-2 control-label">属性:</label>
                                <label class="col-sm-2 control-label">{$info.spec_key_name}</label>
                            </div>
                        {/volist}
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <div>费用信息</div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">商品总价:</label>
                            <label class="col-sm-2 control-label">{$info.total_price/100}</label>

                            <label class="col-sm-2 control-label">运费:</label>
                            <label class="col-sm-2 control-label">￥0</label>
                        </div>

                        {if condition="$info.logistics_status eq 1"}
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <div>物流信息</div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">物流公司:</label>
                            <label class="col-sm-2 control-label">
                                {switch name="$info.logistics_name"}
                                {case value="SF"}顺丰{/case}
                                {case value="HTKY"}百世汇通{/case}
                                {case value="ZTO"}中通{/case}
                                {case value="STO"}申通{/case}
                                {case value="YTO"}圆通{/case}
                                {case value="YD"}韵达{/case}
                                {case value="EMS"}EMS{/case}
                                {case value="DBL"}德邦{/case}
                                {case value="YZPY"}邮政快递{/case}
                                {/switch}
                            </label>

                            <label class="col-sm-2 control-label">物流单号:</label>
                            <label class="col-sm-2 control-label">{$info.logistics_code}</label>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-mint" onclick="layer_show('修改单号信息','/admin/Order/goods_update?oid={$vo.order_id}',600,400)">修改单号信息</a>
                            <!--<a class="btn btn-mint" onclick="layer_show('物流信息','/admin/Order/goods_progress?oid={$vo.order_id}',600,400)">查看物流信息</a>-->
                        </div>
                        {/if}
                        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                        <div>操作记录</div>
                        <br>
                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>操作者</th>
                                    <th>操作时间</th>
                                    <th>描述</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="action" id="vo"}
                                <tr>
                                    <th scope="row">{switch $vo.action_user }
                                        {case 0}用户{/case}
                                        {default /}管理员
                                        {/switch}</th>
                                    <td>{$vo.log_time|date="Y-m-d H:i"}</td>
                                    <td>{$vo.status_desc}</td>
                                    <td>{$vo.action_note}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {if condition="$info.logistics_status eq 0 and $info.order_status eq 3"}
                            <div class="col-sm-10 col-sm-offset-2">
                                <a class="btn btn-mint" onclick="layer_show('提交发货信息','/admin/Order/goods_send?oid={$vo.order_id}',800)">发货</a>
                                <button type="reset" onclick="layer_close()" class="btn btn-warning">关闭</button>
                            </div>
                            {/if}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('.test-test').click(function(){
        var id=$(this).data('id');
        var status=$(this).data('status');

        layer.prompt({title: '随便写点啥，并确认', formType: 2}, function(text, index){
            layer.close(index);
            ajax('/admin/Order/action',{id:id,status:status,text:text},function(data){
                if(data.status){
                    layer.msg(data.info, {icon: 1,time: 1000 }, function(){
                        location.reload();
                    });
                }else{
                    layer.msg(data.info,{icon:2});
                }
            })
        });
    })
</script>
{/block}